
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#today {
    background-color: lightgray;
    border: solid, black;
    border-top: solid, black;
    border-bottom: solid, black;
    border-left: solid, black;
    border-right: solid, black;
    padding: 10px;
    margin: 10px;
    font-family: sans-serif
 }

#name {
    display: inline;

}

#day {
    display: inline-block; 
}

#desc {
    display: inline-block; 
    justify-content: space-around;

}

.list-group {
    min-height: 130px;
    list-style: none;
    padding:20px;
    border-top: solid, grey;
    border-bottom: solid, grey;
    border-left: solid, grey;
    border-right: solid, grey;
    box-shadow: beige;
  }

  ul {
    display:inline-block;
    border:1px solid #000;
    padding:20px;
 }

.card {
    background-color: mediumblue;
    border: solid, black;
    border-top: solid, black;
    border-bottom: solid, black;
    border-left: solid, black;
    border-right: solid, black;
    font-style: white;
    text-decoration-color: white;
    color: white;

}

/* Colors for UV Index */
.low {
    background-color: yellow;
}

.medium {
    background-color: orange;
}

.high {
    background-color: red;
}